<html>
<head>
    <title>{{ queens_positions|length }}-Queens Game</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 10px;
    }
    td {
        padding: 10px;
    }
    body {
        font-family: "Arial";
    }
</style>
<body>

<table>
    {% for i in range(queens_positions|length) %}
    <tr>
        {% for j in range(queens_positions|length) %}
        {% if j + 1 == queens_positions[i] and is_valid %}
            <td bgcolor="#2d5986"></td>
        {% elif j + 1 == queens_positions[i] and not is_valid %}
            <td bgcolor="#2dee86"></td>
        {% else %}
        <td bgcolor="#e6f2ff">
        <form action="/select" method="post" >
        <input name="button" type ="submit" value="{{ i }}_{{ j }}" />
        </form>

        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>



{% if not is_valid  %}
    <p>There exists no solution for your selection of queens.</p>
    <p><button onclick="window.location.href='/nqueens-try-again'">Try again!</button>
    </p>
{% elif has_won %}
    <p>Well done, you have solved the puzzle! </p>
    <p><button onclick="window.location.href='/nqueens-another-game'">Solve a larger problem!</button>
    </p>
{% else %}
{% endif %}
</body>
</html>