<html>
<head>
    <title>{{ queens_positions|length }}-Queens Game</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 10px;
    }
    td {
        padding: 10px;
    }
    body {
        font-family: "Arial";
    }
</style>
<body>

<table>
    {% for i in range(queens_positions|length) %}
    <tr>
        {% for j in range(queens_positions|length) %}
        {% if j + 1 == queens_positions[i] %}
        <td bgcolor="#2d5986"></td>
        {% else %}
        <td bgcolor="#e6f2ff">
        <form action="/select" method="post" >
        <input name="button" type ="submit" value="{{ i }}_{{ j }}" />
        </form>

        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

</body>
</html>