<html>
<head>
    <title>Stefans Schach Spiel</title>
</head>
<style>
    body {
        font-family: "Arial";
        background: url("https://upload.wikimedia.org/wikipedia/commons/5/54/Perspective_chessboard.png") no-repeat;
        background-size: 300px 200px;
    }
    div.text {
      width: 40%;
      margin-left: 200px;
      margin-top: 100px;
    }
    p.text {
       margin-left: 30px;
    }
</style>
<body>
  <br>
  <br>
  <br>

  <div class="text">
    <h1>Stefans Schachspiel</h1>

        <p>Alles Gute zum Geburtstag! Dieses kleine Spiel basiert auf einem mathematischen Problem, dem
            <a href="https://en.wikipedia.org/wiki/Eight_queens_puzzle">8-Damen Problem</a>. Die Challenge
            ist, auf einem 8x8 Schachbrett genau 8 Damen so zu plazieren, dass sie sich nicht gegenseitig
            angreifen koennen. In diesem Spiel kannst du dir die Schachbrettgroesse aussuchen.</p>

        <p>In jedem Schritt in dem Spiel plazierst du eine Dame auf dem Schachbrett, und ein mathematischer Löser
            rechnet im Hintergrund, ob es noch eine gültige Lösung gibt. Es kann also sein, dass es minimale
            Verzögerungen wegen der Berechnung gibt. Viel Spass beim Spielen!</p>
    <br>
    
    <form method="POST">
      <b>Los gehts:</b> Schachbrettgroesse: <input name="N" maxlength="2" size="2" type ="number" style="width: 50px;">
      <br>(<i>Tip: 5 ist ein guter Einstieg</i>)
       <p><input type="submit" value="Play!"></p>
    </form>
  </div>

</body>
</html>
