<html>
<head>
    <title>N-Queens Game</title>
</head>
<style>
    body {
        font-family: "Arial";
        background: url("https://upload.wikimedia.org/wikipedia/commons/5/54/Perspective_chessboard.png") no-repeat;
        background-size: 300px 200px;
    }
    div.text {
      width: 40%;
      margin-left: 200px;
      margin-top: 100px;
    }
    p.text {
       margin-left: 30px;
    }
</style>
<body>
  <br>
  <br>
  <br>

  <div class="text">
    <h1>N-queens game</h1>

        <p>This game is based on the <a href="https://en.wikipedia.org/wiki/Eight_queens_puzzle">8-Queens Problem</a> and
         the challenge is to place N queens on an N x N chessboard so that no two queens attack each other.</p>

        <p>Note that every time you place a queen on the chessboard, a solver checks if there is a solution for the
         current placement, so there might be a minimal delay after each step. You can find the code for this game on
         <a href="https://github.com/angee/nqueens-game">https://github.com/angee/nqueens-game</a>.</p>
    <br>
    
    <form method="POST">
      <b>Start playing:</b> choose your chessboard size (N): <input name="N" maxlength="2" size="2" type ="number" style="width: 50px;">
      <br>(<i>hint: 5 is a good start</i>)
       <p><input type="submit" value="Play!"></p>
    </form>
  </div>

</body>
</html>
